<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat test</title>
</head>

<body>
    <div id="loggedin-user">
        <h3>Hello!</h3>
        <p id="username"></p>

        <textarea name="" id="message" cols="30" rows="10"></textarea>
        <button id="send-message">Send</button>
        <button id="logout-btn">Logout</button>
    </div>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script src="../scripts/init.js"></script>
    <script src="../scripts/app.js"></script>
</body>

</html>